<div class="header"> 
  <h3 class="page-header">
    Iniciar sesión
  </h3>

</div>

<div id="page-inner"> 

  <div class="row">

    <div class="col-md-12">
      <!--   Kitchen Sink -->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label 'Contraseña' %><br />
          <%= f.password_field :password, autocomplete: "current-password"%>
        </div>

        <div class="actions">
          <br><%= f.submit "Iniciar sesión", class: 'btn btn-primary' %>
        </div>
        <% end %>
      <!-- End  Kitchen Sink -->

    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
</div>