<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Fecha de entrega' %>
    <%= form.date_field :deliver_date %>
  </div>

  <div class="field">
    <%= form.label 'Cliente' %>
    <%= form.collection_select :client_id, Client.all, :id, :firstname %><br>
  </div>

  <div class="field">
    <%= form.label 'Nombre de Curso/Club' %>
    <%= form.text_field :course_club %>
  </div>

  <div class="field">
    <%= form.label 'Logo' %>
    <%= form.file_field :logo, class: 'field' %>
  </div><br>

  <div class="field">
    <%= form.label 'Notas' %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <h4>Auspiciantes</h4>
    <% @sponsors.each do |sponsor| %>
      <% if @sponsors.empty? %>
        <p>No ha agregado ningún auspiciante</p>
      <% else %>
        <br><%= check_box_tag "sponsors[]", sponsor.id, @order.sponsors.include?(sponsor) %> <%= sponsor.name %>
      <% end %>
    <% end %>
  </div><br>

  <div class="actions">
    <%= form.submit "Agregar", class: 'btn btn-primary' %>
  </div>
<% end %>