<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputEmail4"><b>Cliente</b></label>
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Cliente</label>
        <%= form.collection_select :client_id, Client.all, :id, :firstname%><br>
      </div>
    </div>

    <div class="form-group col-md-5">
      <label for="inputEmail4"><b>Fecha de entrega</b></label>
      <%= form.date_field :deliver_date, class: 'form-control' %>
    </div>

    <div class="form-group col-md-5">
      <label for="inputAddress"><b>Nombre de Curso/Club</b></label>
      <%= form.text_field :course_club, class: 'form-control' %>
    </div>
  </div>
  <hr>
  <div class="form-row">
    <div class="col-6">
      <div class="form-group col-md-12">
        <label for="exampleFormControlFile1"><b>Logo</b></label>
        <div class="custom-file">
          <%= form.file_field :logo, class: 'custom-file-input' %>
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12">
      <div class="form-group col-md-12">
        <label for="inputPassword4"><br><b>Notas</b></label>
        <%= form.text_area :notes, class: 'form-control' %>
      </div>
    </div>
  </div>

  </div>

  <div class="form-group col-md-6">
    <hr>
    <h3>Auspiciantes</h3>
    <% @sponsors.each do |sponsor| %>
    <% if @sponsors.empty? %>
      <p>No ha agregado ningún auspiciante</p>
    <% else %>
      <%= check_box_tag "sponsors[]", sponsor.id, @order.sponsors.include?(sponsor) %> <%= sponsor.name %><br>
    <% end %>
  <% end %>
  </div>
  </div>

  <hr>
  <div class="actions">
    <%= form.submit "Agregar", class: 'btn btn-primary' %>
  </div>
<% end %>