<%= form_with(model: order, local: true) do |form| %>
  <script>
      $(document).ready(function() { $("#e1").select2(); });
  </script>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Cliente</label>
      <%= form.select :client_id, Client.all.collect {|p| [ "#{p.firstname} #{p.lastname} #{p.doc_ruc}", p.id ] }, {prompt: 'Selecciona el Cliente'}, class: 'form-control', id: 'e1' %>
    </div>
  </div>

  <div class="field">
    <b><%= form.label 'Fecha de entrega' %></b>
    <%= form.date_field :deliver_date, class: 'form-control' %>
  </div><br>

  <div class="field">
    <b><%= form.label 'Curso / Club' %></b>
    <%= form.text_field :course_club, class: 'form-control' %>
  </div><br>

  <div class="field">
    <b><%= form.label 'Logo' %></b>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
      </div>
      <div class="custom-file">
        <%= form.file_field :logo, class: 'custom-file-input' %>
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
  </div>

  <div class="field">
    <b><%= form.label 'Notas' %></b>
    <%= form.text_area :notes, class: 'form-control' %>
  </div><br>

  <div class="field">
    <h3><%= form.label 'Auspiciantes'%></h3>
    <% sponsors.each do |sponsor| %>
      <%= check_box_tag "sponsors[]", sponsor.id, order.sponsors.include?(sponsor) %> <%= sponsor.name %><br>
    <%end%>
  </div>
  <br>
  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>