<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Cliente' %>
    <%= form.collection_select :client_id, Client.all, :id, :firstname %>
  </div><br>

  <div class="field">
    <%= form.label 'Fecha de entrega' %>
    <%= form.date_select :deliver_date %>
  </div><br>

  <div class="field">
    <%= form.label 'Curso o Club' %>
    <%= form.text_field :course_club %>
  </div>

  <div class="field">
    <%= form.label :logo %>
    <%= form.text_field :logo %>
  </div>

  <div class="input-group date">
    <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
  </div>

  <div class="field">
    <%= form.label 'Estado' %>
    <%= form.text_field :state %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
