<%= simple_form_for has_product, defaults: { label_html: { class: 'font-weight-bold' } }, remote: true do |form| %>
  <%= form.error_notification %>

  <%= form.hidden_field :order_id, value: order.id %>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Producto</label>
      <%= form.select :product_id, Product.where(in_trash: false).collect {|p| [ "#{p.name} -- GS. #{number_with_delimiter(p.price, :delimiter => ',')}", p.id ] }, {prompt: 'Selecciona el producto'}, class: 'form-control', id: 'e3' %>
    </div>
  </div>

  <%= form.input :specs_f, as: :text, label: 'Especificaciones frontal' %>

  <%= form.input :specs_b, as: :text, label: 'Especificaciones dorso' %>

  <%= form.input :quantity, label: 'Cantidad', input_html: {value: form.object.quantity || '1'} %>

  <%= form.input :notes, label: 'Notas', as: :text %>

  <%= form.submit 'Guardar', class: 'btn btn-primary' %>

<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        $("#e3").select2();
    });
</script>