<%= simple_form_for order, defaults: { label_html: { class: 'font-weight-bold' } } do |form| %>
  <%= form.error_notification %>

  <% if order.paid == 'Pagado' %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Cliente</label>
        <%= form.select :client_id, Client.all.collect {|p| [ "#{p.first_name} #{p.last_name} #{p.doc_ruc}", p.id ] }, {prompt: 'Selecciona el Cliente'}, disabled: true, class: 'form-control', id: 'e1' %>
      </div>
      <%= link_to 'Nuevo', new_client_path, class: 'btn btn-info' %>
    </div>

  <% else %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Cliente</label>
        <%= form.select :client_id, Client.all.collect {|p| [ "#{p.first_name} #{p.last_name} #{p.doc_ruc}", p.id ] }, {prompt: 'Selecciona el Cliente'}, disabled: true, class: 'form-control', id: 'e1' %>
      </div>
      <%= link_to 'Nuevo', new_client_path, class: 'btn btn-info' %>
    </div>
  <% end %>

  <%= form.input :deliver_date, label: 'Fecha de entrega' %>

  <%= form.input :course_club, label: 'Curso - Club' %>

  <%= form.input :logo, label: 'Logo' %>

  <%= form.input :notes, label: 'Notas', as: :text %>

  <h3><%= form.label 'Auspiciantes'%></h3>
  <select class="multiple-sponsors" name="sponsors[]" multiple="multiple">

    <ul class="select2-selection__rendered">
      <li class="select2-selection__choice" title="Gorgeous Rubber Wallet">
      <span class="select2-selection__choice__remove" role="presentation">×</span>Gorgeous Rubber Wallet</li>
    </ul>

    <% Sponsor.all.each do |sponsor| %>
      <option value="<%= sponsor.id %>"><%= sponsor.name %></option>
    <%end%>
  </select>

  <%= link_to 'Nuevo', new_sponsor_path, class: 'btn btn-info' %>

  <br><br>

  <div class="row ml-1">
    <% @order.sponsors.each do |sponsor| %>
      <div class="card mb-3 ml-1 col-3">
        <div class="row no-gutters">
          <div class="col-md-2">
            <%= image_tag sponsor.image.url(:original), class: 'card-img' %>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h4 class="card-title"><%= sponsor.name %></h4>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>

  <br>

  <%= form.submit 'Guardar', class: 'btn btn-primary' %>

  <script type="text/javascript">
      $(document).ready(function() {
          $("#e1").select2();
          $('.multiple-sponsors').select2();
      });
  </script>

<% end %>
