<%= simple_form_for order, defaults: { label_html: { class: 'font-weight-bold' } } do |form| %>
  <script>
      $(document).ready(function() { $("#e1").select2(); });
  </script>

  <%= form.error_notification %>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Cliente</label>
      <%= form.select :client_id, Client.all.collect {|p| [ "#{p.first_name} #{p.last_name} #{p.doc_ruc}", p.id ] }, {prompt: 'Selecciona el Cliente'}, class: 'form-control', id: 'e1' %>
    </div>
  </div>

  <%= form.input :deliver_date, label: 'Fecha de entrega' %>

  <%= form.input :course_club, label: 'Curso - Club' %>

  <%= form.input :logo, label: 'Logo' %>

  <%= form.input :notes, label: 'Notas', as: :text %>

  <h3><%= form.label 'Auspiciantes'%></h3>
  <% Sponsor.all.each do |sponsor| %>
    <%= check_box_tag "sponsors[]", sponsor.id, order.sponsors.include?(sponsor) %> <%= sponsor.name %><br>
  <%end%>

  <%= form.submit 'Guardar', class: 'btn btn-primary' %>

<% end %>
