<!-- Content -->
<div class="row">
  <% if @orders.empty? %>
    <div class="col-md-4 col-sm-6">
      <p class="alert alert-warning">No existe ningún pedido con ese criterio</p>
    </div>
  <%else%>
    <% @orders.each do |order| %>
      <div class="col-md-4 col-sm-6">
        <div class="card text-center text-dark pt-4 col-12">
          <div class="card-body">
            <h3 class="card-title">
              <p><%= order.client_first_name %> <%= order.client_last_name %><br><%= order.client_doc_ruc %></p>
              <% if order.paid == 'Pagado' %>
                <span class="badge badge-success">Pagado</span>
              <% else %>
                <span class="badge badge-warning">No pagado</span>
              <% end %>
            </h3>
          </div>
          <hr>
          <div class="card-text pt-2">
            <b>Fecha del pedido</b>
            <br><%= I18n.l(order.created_at, format: '%d de %B de %Y').upcase %></label>
          </div>
          <hr>
          <div class="card-text pt-2">
            <b>Entrega</b> <br><%= I18n.l(order.deliver_date, format: '%d de %B de %Y').upcase %>
          </div>
          <hr>
          <div class="card-text pt-2">
            <b>Curso / Club</b><br><%= order.course_club %>
          </div>
          <hr>
          <% if order.state == 'En espera' %>
            <p class='alert bg-danger text-white'><b><%= order.state %></b></p>
          <% elsif order.state == 'En proceso' %>
            <p class='alert bg-warning'><b><%= order.state %></b>
          <% else order.state == 'Completado' %>
            <p class='alert bg-success text-white'><b><%= order.state %></b></p>
          <%end%>
          <div class="card-body">
            <%= link_to '', order, class: 'fas fa-eye mt-2' %>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
  <!-- Pagination -->
  <%= render 'partials/pagination', paginate: @orders%>
</div>