<div class="header">
  <h1 class="page-header">
    Pedidos
  </h1>
  <ol class="breadcrumb">
    <li><a href="#">Pedidos</a></li>
    <li class="active">Index</a></li>
  </ol>
</div>

<div id="page-inner">
  <% if current_user.is_secretary? %>
    <%= link_to 'Nuevo', new_order_path, class: 'btn btn-primary'%>
  <% end %>
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <% @orders.each do |order| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h4><%= order.client.firstname %> <%= order.client.lastname %><br><%= order.client.doc_ruc %></h4>
                <h5><%= link_to '', order, class: 'fas fa-eye' %> | <%= link_to '', edit_order_path(order), class: 'fas fa-edit' %></h5>

                <label><b>Fecha del pedido:</b> <br><%= order.created_at %></label><br>
                <label><b>Entrega:</b> <br><%= order.deliver_date %></label><br>
                <label><b>Curso / Club:</b><br><%= order.course_club %></label>

                <% if order.state == 'En espera' %>

                  <% if current_user.is_admin? or current_user.is_secretary? %>
                    <p class='alert alert-danger'><%= order.state %></p>
                  <% elsif current_user.is_team? %>
                    <p class="alert alert-danger"><%= link_to order.state, orders_state_path(order) %></p>
                  <%end%>

                <% elsif order.state == 'En proceso' %>
                  <% if current_user.is_admin? or current_user.is_secretary? %>
                    <p class='alert alert-warning'><%= order.state %>
                  <% elsif current_user.is_team? %>
                    <p class="alert alert-warning"><%= link_to order.state, orders_state_path(order) %>
                  <%end%>

                <% else order.state == 'Completado' %>
                  <% if current_user.is_admin? or current_user.is_secretary? %>
                    <p class='alert alert-success'><%= order.state %>
                  <% elsif current_user.is_team? %>
                    <p class="alert alert-success"><%= link_to order.state, orders_state_path(order) %>
                  <%end%>
                <% end %>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>