<div class="header"> 
  <h1 class="page-header">
    Pedidos
  </h1>
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Pedidos</a></li>
    <li class="active">Index</li>
  </ol> 
</div>

<div id="page-inner">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>
      <div class="card">
        <div class="card-content"> 
          <div class="row">
            <div class="card-content">
              <h3>Pedidos registradas</h3><br>
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Fecha de entrega</th>
                      <th>Cliente</th>
                      <th>Curso - Club</th>
                      <th>Logo</th>
                      <th>Estado del pedido</th>
                      <th>Editar</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @orders.each do |order| %>
                    <tr>
                      <td><%= order.deliver_date %></td>
                      <td><%= order.client.firstname %></td>
                      <td><%= order.course_club %></td>
                      <td><%= order.logo %></td>
                      <td><%= order.state %></td>
                      <td><%= link_to '', edit_order_path(order), class: 'fas fa-edit' %></td>
                      <td><%= link_to '', order, method: :delete, data: { confirm: 'Estás seguro?' }, class: "fas fa-trash"  %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>

                <br>

                <%= link_to 'New Order', new_order_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>