<div class="header">
  <h1 class="page-header">
    Cotizaciones
  </h1>
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Cotizaciones</a></li>
    <li class="active">Index</li>
  </ol>
</div>

<div id="page-inner">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="card-content">
              <h3>Cotizaciones registradas</h3><br>
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Moneda</th>
                      <th>Compra</th>
                      <th>Venta</th>
                      <th>Fecha</th>
                      <th>Editar</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @quotations.each do |quotation| %>
                    <tr>
                      <td><%= quotation.currency.name %></td>
                      <td><%= quotation.purchase %></td>
                      <td><%= quotation.sale %></td>
                      <td><%= quotation.updated_at %></td>
                      <td><%= link_to '', edit_quotation_path(quotation) , class: 'fas fa-edit' %></td>
                      <td><%= link_to '', quotation, method: :delete, data: { confirm: 'Estás seguro?' }, class: "fas fa-trash"  %></td>
                    <% end %>
                  </tbody>
                </table>
                <%= link_to 'Nueva cotizacion', new_quotation_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>