<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @quotation.currency %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @quotation.purchase %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @quotation.sale %>
</p>

<%= link_to 'Edit', edit_quotation_path(@quotation) %> |
<%= link_to 'Back', quotations_path %>
