<div class="header"> 
  <h1 class="page-header">
    Auspiciantes
  </h1>
  <ol class="breadcrumb">
    <li><a href="#">Auspiciantes</a></li>
    <li class="active">Index</a></li>
  </ol> 
</div>

<div id="page-inner">
  <%= link_to 'Nuevo', new_sponsor_path, class: 'btn btn-primary' %>
  <div class="row">
    <div class="col-md-12">
      <% @sponsors.each do |sponsor| %>
          <div class="col-md-3">
            <h5><%= sponsor.name %></h5>
            <%= link_to '', edit_sponsor_path(sponsor), class: 'fas fa-edit' %> | <%= link_to '', sponsor, method: :delete, data: {  confirm: 'Estás seguro?' }, class: "fas fa-trash" %>
            <div class="thumbnail">
              <%= image_tag sponsor.image.url(:thumb) %>
            </div>
        </div>
      <%end%>
    </div>
  </div>
</div>