<h1>Auspiciantes</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Auspiciantes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Index</li>
  </ol>
</nav>
</div>
<hr>

<div id="page-inner">

  <div class="row mb-2">
    <!-- New sponsor -->
    <div class="col">
      <%= link_to 'Nuevo', new_sponsor_path, class: 'btn btn-primary' %>
    </div>
    <!-- Search -->
    <div class="mr-3">
      <%= form_tag(sponsors_path, method: :get, class: 'form-inline') do %>
        <%= text_field_tag :term, params[:term], class: 'form-control mr-sm-2', autofocus: true %>
        <%= submit_tag 'Search', search: nil, class: 'btn btn-outline-success my-2 my-sm-0' %>
      <% end %>
    </div>
  </div>


  <!-- Content -->
  <div class="row">
      <% if @sponsors.empty? %>
        <div class="col-md-4 col-sm-5">
          <p class="alert alert-warning">No ha encontrado ningún auspiciante</p>
        </div>
      <% else %>
      <% @sponsors.each do |sponsor| %>
        <div class="col-md-4 col-sm-5">
          <div class="card text-center col-md-12">
            <div class="card-image">
              <%= image_tag sponsor.image.url(:mini)%>
            </div>
            <div class="card-content">
              <hr>
              <h4 class="card-title"><%= sponsor.name %></h4>
              <hr>
              <%= link_to '', edit_sponsor_path(sponsor), class: 'fas fa-edit' %> | <%= link_to '', sponsor, method: :delete, data: {  confirm: 'Estás seguro?' }, class: "fas fa-trash" %>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
  <!-- Pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    <%= will_paginate @sponsors, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </ul>
  </nav>
</div>