<%= simple_form_for client, defaults: { label_html: { class: 'font-weight-bold' } } do |form| %>
  <%= form.error_notification %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.input :first_name, label: 'Nombres' %>
    </div>
    <div class="form-group col-md-6">
      <%= form.input :last_name, label: 'Apellidos' %>
    </div>
    <div class="form-group col-md-6">
      <%= form.input :doc_ruc, label: 'Documento - RUC' %>
    </div>
    <div class="form-group col-md-6">
      <%= form.input :phone, label: 'Telefóno' %>
    </div>
  </div>

  <hr>

  <h5>Opcional</h5><br>
  <div class="form-row">
    <div class="form-group col-md-3">
      <%= form.input :email, label: 'Correo', input_html: { autocomplete: 'email' } %>
    </div>
    <div class="form-group col-md-3">
      <%= form.input :city, label: 'Ciudad' %>
    </div>
    <div class="form-group col-md-3">
      <%= form.input :country, label: 'País', selected: "PY" %>
    </div>
    <div class="form-group col-md-3">
      <%= form.input :date_nac, label: 'Fecha de nacimiento' %>
    </div>
  </div>
  <%= form.submit 'Guardar', class: 'btn btn-primary' %>
<% end %>
