<!-- Table -->
<div class="row">
  <% if @clients.empty? %>
    <div class="col-md-4 col-sm-6">
      <p class="alert alert-warning">No ha encontrado ningún cliente</p>
    </div>
  <% else %>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Doc/ruc</th>
          <th>Telefóno</th>
          <th>Nacimiento</th>
          <th>Correo</th>
          <th>Ciudad</th>
          <th>País</th>
        </tr>
        </thead>
        <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.first_name %></td>
            <td><%= client.last_name %></td>
            <td><%= client.doc_ruc %></td>
            <td><%= client.phone %></td>
            <td><%= client.date_nac %></td>
            <td><%= client.email %></td>
            <td><%= client.city %></td>
            <td><%= client.country %></td>
            <td>
              <% if client.in_trash == false %>
                  <%= link_to '', edit_client_path(client), class: 'fas fa-edit' %>
                  <%= link_to '' , client, method: :delete, data: { confirm: 'Estás seguro?' }, class: "fas fa-trash"  %>
              <% else %>
                  <%= link_to '' , client, method: :delete, data: { confirm: 'Estás seguro?' }, class: "fas fa-recycle"  %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <%end%>
</div>

<!-- Pagination -->
<%= render 'partials/pagination', paginate: @clients%>