<%= simple_form_for product, defaults: { label_html: { class: 'font-weight-bold' } } do |form| %>
  <%= form.error_notification %>

  <%= form.input :name, label: 'Nombre' %>
  <%= form.input :price, label: 'Precio' %>
  <%= form.input :image, label: 'Imagen' %>
  <%= form.input :description, label: 'Descripción', as: :text %>

  <div class="field">
    <h3><%= form.label 'Insumos necesarios'%></h3>
    <% Supply.all.each do |supply| %>
      <%= check_box_tag "supplies[]", supply.id, product.supplies.include?(supply)  %> <%= supply.name %><br>
    <%end%>
  </div>
  <br>

  <%= form.submit 'Guardar', class: 'btn btn-primary' %>

<% end %>