  <%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Nombres' %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label 'Apellidos' %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label 'Documento / ruc' %>
    <%= form.text_field :doc_ruc %>
  </div>

  <div class="field">
    <%= form.label 'Telefóno' %>
    <%= form.text_field :telephone %>
  </div>

  <div class="field">
    <%= form.label 'Correo' %>
    <%= form.text_field :mail %>
  </div>

  <div class="field">
    <%= form.label 'Ciudad' %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label 'País' %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label 'Nacimiento' %>
    <%= form.date_field :date_nac %>
  </div><br>

  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
