<h1>Clientes</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Clientes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Index</li>
  </ol>
</nav>
</div>
<hr>

<div id="page-inner">

  <div class="row mb-2">
    <!-- New client -->
    <div class="col">
      <%= link_to 'Nuevo', new_client_path, class: 'btn btn-primary' %>
    </div>
    <!-- Search -->
    <div class="mr-3 form-inline">
      <%= link_to(raw("<i class='fas fa-trash fa-lg'></i>"), clients_trash_url, class: "btn btn-secondary mr-3") %>
      <%= search_form_for @q, remote: true do |f| %>
        <%= f.search_field :first_name_or_last_name_or_doc_ruc_or_email_or_city_or_country_cont, class: 'form-control mr-sm-2', autofocus: true %>

        <%= f.submit class: 'btn btn-outline-success my-2 my-sm-0' %>
      <% end %>
    </div>
  </div>

  <div id="list-clients">
    <%= render 'list_clients', clients: @clients%>
  </div>
</div>