<h1>Clientes</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Clientes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Index</li>
  </ol>
</nav>
</div>
<hr>

<div id="page-inner">

  <div class="row mb-2">
    <!-- New client -->
    <div class="col">
      <%= link_to 'Nuevo', new_client_path, class: 'btn btn-primary' %>
    </div>
    <!-- Search -->
    <div class="mr-3">
      <%= form_tag(clients_path, method: :get, class: 'form-inline') do %>
        <%= text_field_tag :term, params[:term], class: 'form-control mr-sm-2', autofocus: true %>
        <%= submit_tag 'Search', search: nil, class: 'btn btn-outline-success my-2 my-sm-0' %>
      <% end %>
    </div>
  </div>

  <!-- Table -->
  <div class="row">
    <% if @clients.empty? %>
    <div class="col-md-4 col-sm-6">
      <p class="alert alert-warning">No ha agregado ningún pedido</p>
    </div>
    <% else %>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Doc/ruc</th>
            <th>Telefóno</th>
            <th>Nacimiento</th>
            <th>Correo</th>
            <th>Ciudad</th>
            <th>País</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
          <tr>
            <td><%= client.firstname %></td>
            <td><%= client.lastname %></td>
            <td><%= client.doc_ruc %></td>
            <td><%= client.telephone %></td>
            <td><%= client.date_nac %></td>
            <td><%= client.mail %></td>
            <td><%= client.city %></td>
            <td><%= client.country %></td>
            <td><%= link_to '', edit_client_path(client), class: 'fas fa-edit' %>  <%= link_to '' , client, method: :delete, data: { confirm: 'Estás seguro?' }, class: "fas fa-trash"  %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%end%>
  </div>
  </div>
</div>