<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @client.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @client.lastname %>
</p>

<p>
  <strong>Doc/ruc:</strong>
  <%= @client.doc/ruc %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @client.telephone %>
</p>

<p>
  <strong>Date nac:</strong>
  <%= @client.date_nac %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @client.mail %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @client.country %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
