<!DOCTYPE html>
<html>
<head>
    <title>Starweb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>   

</head>

<body>
    <div id="wrapper">
        <%= render "partials/navigation" %>
        <div id="page-wrapper">
            <% unless notice.nil? %>
            <div class="alert alert-success" role="alert">
                <p class="notice"><%= notice %></p>
            </div>
            <%end%>
            <% unless alert.nil? %>
            <div class="alert alert-warning" role="alert">
                <p class="alert"><%= alert %></p>
            </div>
            <%end%>
            <%= yield %>
            <%= render "partials/footer" %>
        </div>
    </div>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
