<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>Counted credit:</strong>
  <%= @invoice.counted_credit %>
</p>

<p>
  <strong>Order:</strong>
  <%= @invoice.order %>
</p>

<p>
  <strong>Iva5:</strong>
  <%= @invoice.iva5 %>
</p>

<p>
  <strong>Iva10:</strong>
  <%= @invoice.iva10 %>
</p>

<p>
  <strong>Total:</strong>
  <%= @invoice.total %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
