<!-- Sidebar -->
<div class="border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"><i class="fas fa-futbol"></i>STARWEB</div>
  <div class="list-group list-group-flush">
    <%= link_to(raw("<i class='fas fa-tasks fa-2x '></i><br>Pedidos"), orders_path, class: "list-group-item list-group-item-action") %>
    <%= link_to(raw("<i class='fas fa-tshirt fa-2x '></i><br>Productos"), products_path, class: "list-group-item list-group-item-action") %>
    <%= link_to(raw("<i class='fas fa-user-friends fa-2x '></i><br>Clientes"), clients_path, class: "list-group-item list-group-item-action") %>
    <%= link_to(raw("<i class='fas fa-boxes fa-2x '></i><br>Insumos"), supplies_path, class: "list-group-item list-group-item-action") %>
    <%= link_to(raw("<i class='fas fa-hands-helping fa-2x '></i><br>Auspiciantes"), sponsors_path, class: "list-group-item list-group-item-action") %>
  </div>
</div>

<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">

  <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user mr-2"></i> Admin
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
      </div>
  </nav>

  <div class="container-fluid p-4">
    <div class="mt-3">