<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @info_detail.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @info_detail.lastname %>
</p>

<p>
  <strong>Number:</strong>
  <%= @info_detail.number %>
</p>

<p>
  <strong>Size:</strong>
  <%= @info_detail.size %>
</p>

<%= link_to 'Edit', edit_info_detail_path(@info_detail) %> |
<%= link_to 'Back', info_details_path %>
