<%= form_with(model: supply, local: true) do |form| %>
  <% if supply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supply.errors.count, "error") %> prohibited this supply from being saved:</h2>

      <ul>
      <% supply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Nombre' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label 'Imagen' %>
    <%= form.file_field :image, class: 'field' %>
  </div><br>

  <div class="field">
    <%= form.label 'Stock' %>
    <%= form.text_field :stock %>
  </div>

  <div class="field">
    <%= form.label 'Descripción' %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
