<h1>Insumos</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Insumos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Index</li>
  </ol>
</nav>
</div>
<hr>

<div class="row mb-2">
  <!-- New client -->
  <div class="col">
    <%= link_to 'Nuevo', new_supply_path, class: 'btn btn-primary' %>
  </div>
  <!-- Search -->
  <div class="mr-3">
    <%= form_tag(supplies_path, method: :get, class: 'form-inline') do %>
      <%= text_field_tag :term, params[:term], class: 'form-control mr-sm-2', autofocus: true %>
      <%= submit_tag 'Search', search: nil, class: 'btn btn-outline-success my-2 my-sm-0' %>
    <% end %>
  </div>
</div>

<!-- Content -->
<div class="row">
  <% if @supplies.empty? %>
    <div class="col-md-4">
      <p class="alert alert-warning">No ha agregado ningún insumo</p>
    </div>
  <% else %>
    <% @supplies.each do |supply| %>
      <div class="col-md-4">
        <div class="card text-center col-12">
          <div class="card-body">
            <%= image_tag supply.image.url(:mini) %>
            <hr>
            <h4 class="card-title"><b><%= supply.name %></b></h4>
            <hr>
            <p class="card-text">
              <p><b>Stock</b><br><%= supply.stock %></p>
              <p><b>Descripción</b><br><%= supply.description %></p>
          </div>
          <p><%= link_to '', edit_supply_path(supply), class: 'fas fa-edit' %> | <%= link_to '', supply, method: :delete, data: {  confirm: 'Estás seguro?' }, class: "fas fa-trash" %></p>
        </div>
      </div>
    <%end%>
  <%end%>
</div>