<div class="header"> 
  <h1 class="page-header">
    Insumos
  </h1>
  <ol class="breadcrumb">
    <li><a href="#">Insumos</a></li>
    <li class="active">Index</a></li>
  </ol> 
</div>

<div id="page-inner">
  <%= link_to 'Nuevo', new_supply_path, class: 'btn btn-primary' %>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <% if @supplies.empty? %>
          <p>No ha agregado ningún insumo</p>
        <% else %>
          <% @supplies.each do |supply| %>
          <div class="col-md-6">
            <div class="card">
              <p>
                <div class="media">
                  <div class="media-left media-middle">
                    <a href="#">
                      <%= image_tag supply.image.url(:thumb), class: 'media-object' %>
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading"><%= supply.name %></h5>
                    <p><b>Stock:</b> <%= supply.stock %></p>
                    <p><%= supply.description %></p>
                    <p><%= link_to '', edit_supply_path(supply), class: 'fas fa-edit' %> | <%= link_to '', supply, method: :delete, data: {  confirm: 'Estás seguro?' }, class: "fas fa-trash" %></p>
                  </div>
                </div>
                <hr>
              </p>
            </div>
          </div>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>