<h1>Insumos</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Insumos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Index</li>
  </ol>
</nav>
</div>
<hr>

<% if current_user.is_secretary? %>
<%= link_to 'Nuevo', new_supply_path, class: 'btn btn-primary'%>
<% end %>
<!-- Content -->
<div class="row">
  <div class="col-md-4">
    <% if @supplies.empty? %>
      <p class="alert alert-warning">No ha agregado ningún insumo</p>
    <% else %>
      <% @supplies.each do |supply| %>
        <div class="card col-md-12">

          <%= image_tag supply.image.url(:thumb), class: 'media-object' %>
          <div class="card-body">
            <h5 class="card-title"><%= supply.name %></h5>
            <hr>
            <p class="card-text">
              <p><b>Stock:</b> <%= supply.stock %></p>
              <p><%= supply.description %></p>
              <p><%= link_to '', edit_supply_path(supply), class: 'fas fa-edit' %> | <%= link_to '', supply, method: :delete, data: {  confirm: 'Estás seguro?' }, class: "fas fa-trash" %></p>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
</div>