<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supply.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @supply.image %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @supply.stock %>
</p>

<p>
  <strong>Description:</strong>
  <%= @supply.description %>
</p>

<%= link_to 'Edit', edit_supply_path(@supply) %> |
<%= link_to 'Back', supplies_path %>
